<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>EPINuc - Choose classifier</title>
</head>

   <body>
   <div class="main">
      <h1>Choose classifier for diagnosis:</h1>
	
	  <p class="main">Choose one of the different classifiers to diagnose your data.
       Each model was trained on 75% of the data and tested on the rest using 10 fold cross validtion.</p>
    

       	<div class="grid-container">
	
  <div>
  <img src="{{url_for('static', filename=pca_img_name)}}"></div>

  <div>
  </div>
	
  <div>
  <img src="{{url_for('static', filename=boxplot_img_name)}}">
	  </div> 
	
	</div>
	<p></p>
       
     <div class="grid-table">
            <div>Classifier name:</div>
            <div>Mean accuracy (%):</div>
            <div>STD (%):</div>
            <div></div>
            <div></div>
        
         
            {% for classifier in classifiers_performance %}
            <div><p class="table">{{ classifier }}</p></div>
            <div><p class="table">{{ classifiers_performance[classifier][0] }}</p></div>
            <div><p class="table">{{ classifiers_performance[classifier][1] }}</p></div>
            <div><p class="table"><a href='/classify_data/{{ref_dataset}}/{{ classifier}} '>Choose</a></p></div>
            <div><p class="table"><a href='/uploads/{{ classifier}} '>Download</a></p></div>
            {% endfor %}
       </div>
       
        <p></p>
          <div class="grid-container">
                <div><a href="/choose_ref_dataset">Back (choosing reference dataset)</a></div>
                <div></div>
                <div><a href="/">Return to Homepage</a></div>
            </div>
	   <p></p>
        
	
	</div>
   </body>
</html>