<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>EPINuc - Diagnosis results</title>
</head>

   <body>
   <div class="main">
      <h1>Diagnosis complete!</h1>
       <p></p>
       <a href="/view/diagnosis_results.csv" target="_blank" class="button">View file</a>
       <a href="/uploads/diagnosis_results.csv" class="button">Download file</a>
         <p></p>
          <div class="grid-container">
                <div><a href="/choose_classifier/{{ref_dataset}}">Back (choose a different model)</a></div>
                <div></div>
                <div><a href="/">Return to Homepage</a></div>
            </div>
	   <p></p>
       
       
    </div>  
   </body>
</html>
