<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>EPINuc - Diagnose data</title>
</head>

   <body>
	<div class="main">
      <h1>Diagnose your data:</h1>
	
	 <p class="main">Upload EPINuc data from different samples (e.g. healthy or cancer patients) and to recieve their corresponding    prognosis groups.
         <br>
        <br>Please make sure the chosen file is in a '.csv' or '.xls' format and satisfying the requirements specified in the 'README.md' file.</p>
	  <br>
        
		 
     <form action = "{{ url_for('file_saver') }}" method = "POST" 
            enctype = "multipart/form-data">
          <input type = "file" name = "file"/>
          <input type = "submit"/>
           <input type="hidden" value='diag' name='page_id'/>
      </form> 
	
	  <a href="/" class="home">Return to Homepage</a>
	  <p></p>
	  </div>
</body>
</html>