<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>EPINuc - Homepage</title>
</head>

   <body>
   <div class="main">
      <h1>EPINuc application:</h1>
	
	  <p class="main">Epigenetics of Plasma Isolated Nucleosomes (“EPINuc”) is a test that comprehensively profiles the epigenetics landscape of plasma DNA together with protein cancer biomarkers.
	  Our system, which combines total internal reflection microscopy (TIRF)
	  and DNA sequencing, enables us to measure for each blood sample 
	  a verity of different parameters (e.g., the distribution of different 
	  cell free nucleosomes histone modifications, global DNA methylation 
	  levels and quantity of cancer associated protein biomarkers) and 
	  generate a multi-layered characterization of the sample in 
	  single-molecule resolution.
       <br>
       <br>This application can receive EPINuc data from different samples (e.g. healthy or cancer patients) and then, by using a diverse set of machine-learning algorithms, classify the samples to their corresponding prognosis groups.</p>
	
	  <br>
	  <h2>Our services:</h2>
	<div class="grid-container">
	
  <div>
 
  <a href="/diagnosis" class="button">Run diagnostics</a></div>
	
  <div>
    <a href="/dataset_search" class="button">Search database</a></div>
	
  <div>
    <a href="/upload" class="button">Update database</a></div> 
	
	</div>
	<p></p>
	
	</div>
   </body>
</html>